<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú de Semestres</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let semestre of semestres">
          <ion-button expand="full" [routerLink]="['/semestre', semestre]">
            {{ semestre }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gestión de Notas </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Notas y Materias del Semestre {{ semestreSeleccionado }}</ion-title>
        </ion-toolbar>
      </ion-header>
    
      <ion-content class="ion-padding">
        <!-- Aquí se mostrará el contenido de materias y notas cargado desde otros archivos -->
        <ion-list>
          <!-- Placeholder para cargar el listado de materias -->
          <!--<ion-item *ngFor="let materia of materias">
            <ion-label>{{ materia.nombre }}</ion-label>
          </ion-item>-->
        </ion-list>
      </ion-content>
    </div>