<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Materia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de la Materia</ion-label>
        <br>
        <ion-input [(ngModel)]="nuevaMateria.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Semestre</ion-label>
        <br>
        <ion-input [(ngModel)]="nuevaMateria.semestre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="full" routerLink="/notas">
          Agregar o editar notas
        </ion-button>
      </ion-item>
      <ion-button expand="full" (click)="guardarMateria()">Guardar Materia</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar o Eliminar Materia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let materia of materias; let i = index">
          <ion-label>{{ materia.nombre }} ({{ materia.semestre }})</ion-label>
          <ion-button fill="outline" (click)="seleccionarMateria(materia, i)">Editar</ion-button>
          <ion-button color="danger" (click)="eliminarMateria(materia)">Eliminar</ion-button>
        </ion-item>
      </ion-list>

      <div *ngIf="materiaSeleccionada">
        <ion-item>
          <ion-label position="floating">Editar Nombre de la Materia</ion-label>
          <br>
          <ion-input [(ngModel)]="materiaSeleccionada.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Editar Semestre</ion-label>
          <br>
          <ion-input [(ngModel)]="materiaSeleccionada.semestre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button expand="full" routerLink="/notas">
            Agregar o editar notas
          </ion-button>
        </ion-item>
        <ion-button expand="full" (click)="actualizarMateria()">Actualizar Materia</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button expand="full" routerLink="/home">Volver</ion-button>
