<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-button expand="full" routerLink="/home">
          Inicio
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" routerLink="/materias">
          Materias
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-backdrop class="menu-backdrop" inert></ion-backdrop>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="openMenu()"></ion-menu-button>
      </ion-buttons>
      <ion-title>Notas y Materias</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">

  </ion-content>
</div>
